/* Navbar Styling */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d71920; /* DB Red */
  padding: 20px 10px;
  color: white;
  font-family: Arial, sans-serif;
}

/* Logo */
.logo img {
  height: 40px;
}

/* Search Bar */
.search-bar {
  flex: 1;
  display: flex;
  margin: 0 20px;
}

.search-bar input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

.search-bar button {
  background: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  margin-left: 10px;
}

/* Navigation Links */
.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 15px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.nav-links a i {
  margin-right: 5px;
}
