<nav class="navbar">
  <div class="logo">
    <img src="rehnuma-R.png" alt="DB Logo" />
  </div>

  <div class="search-bar">
    <input type="text" placeholder="Enter departure ." />
    <button><i class="fas fa-search"></i></button>
  </div>

  <ul class="nav-links">
    <li><a routerLink="/search"><i class="fas fa-route"></i>Plan Your Route</a></li>
    <li><a routerLink="/tickets"><i  class="fa-solid fa-credit-card"></i>Book Your Ride</a></li>
    <li><a routerLink="/timetable"><i class="fas fa-bus"></i> Bus Fleet</a></li>
    <li><a routerLink="/profile"><i  class="fa-solid fa-address-card"></i>About Us</a></li>
    <li><a routerLink="/profile"><i  class="fa-solid fa-right-to-bracket"></i>Sign Up & Login</a></li>
    <li><a routerLink="/profile"><i  class="fa-solid fa-building"></i>Complaints and suggestion</a></li>
    <li><a routerLink="/profile"><i  class="fa-solid fa-car"></i>Rent Your Vehicle</a></li>
    <li><a routerLink="/profile"><i  class="fas fa-key"></i>Renter Mode</a></li>
  
  </ul>
</nav>
