<div class="container">
    <div class="row">
        <div class="col-12 text-center image">
            <!-- You can add an image here, for example: -->
            <!-- <img src="images/registration.webp" alt="registration"> -->
        </div>
        <div class="col-12 text-center">
            <h1>Register Here!</h1>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 form-container">
            <form (ngSubmit)="submit()">
                <div class="form-group">
                    <div class="input-icon">
                        <i class="fas fa-user"></i> <!-- User icon -->
                        <input [(ngModel)]="users.firstName" class="input" type="text" name="firstName" placeholder="First Name" required>
                    </div>
                    <div *ngIf="!users.firstName && submit" class="error">
                        First Name is required.
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-icon">
                        <i class="fas fa-user"></i> <!-- User icon -->
                        <input [(ngModel)]="users.lastName" class="input" type="text" name="lastName" placeholder="Last Name" required>
                    </div>
                    <div *ngIf="!users.lastName && submit" class="error">
                        Last Name is required.
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-icon">
                        <i class="fas fa-envelope"></i> <!-- Envelope icon -->
                        <input [(ngModel)]="users.email" class="input" type="email" name="email" placeholder="Email" required>
                    </div>
                    <div *ngIf="!users.email && submit" class="error">
                        Email is required.
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-icon">
                        <i class="fas fa-lock"></i> <!-- Lock icon -->
                        <input [(ngModel)]="users.password" class="input" type="password" name="password" placeholder="Password" required>
                    </div>
                    <div *ngIf="!users.password && submit" class="error">
                        Password is required.
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-icon">
                        <i class="fas fa-phone-alt"></i> <!-- Phone icon -->
                        <input [(ngModel)]="users.phoneNo" class="input" type="number" name="phoneNo" placeholder="Phone No" required>
                    </div>
                    <div *ngIf="!users.phoneNo && submit" class="error">
                        Phone Number is required.
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-icon">
                        <i class="fas fa-users"></i> <!-- Users icon -->
                        <select [(ngModel)]="users.role" class="input" name="role" required>
                            <option value="" disabled selected>Select Your Role</option>
                            <option value="CUSTOMER">CUSTOMER</option>
                            <option value="COMPANY">COMPANY</option>
                        </select>
                    </div>
                    <div *ngIf="!users.role && submit" class="error">
                        Role is required.
                    </div>
                </div>

                <div class="form-group buttons">
                    <button type="submit" class="btn btn-info">Submit</button>
                    <!-- <button type="button" class="btn btn-danger" (click)="clearForm()">Clear</button> -->
                </div>
            </form>
        </div>
    </div>
</div>
